@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Staatliches&display=swap');




.jumbotron {
	font-family: 'Staatliches', cursive;
}
.container {
	font-family: 'Balsamiq Sans', cursive;
}

body {
	color: #212121;
}

.row-content {
	padding:30px 0;
	border-bottom: 1px ridge;
	border-color: #BDBDBD;
}

.card-body {
	margin-top: 5px;
	border: 1px solid #BDBDBD;
	box-shadow: 0px 3px 10px black; 
}

.card-header {
	box-shadow: 0px 3px 10px black; 
}